@font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/PretendardVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Tailwind CSS 기본 스타일을 불러옵니다. */
@import "tailwindcss";